<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            &copy;  کپی رایت  
            <span>1401</span>
            <a class="text-primary" href=" " target="_blank"> داشبورد مدیریتی </a>.
            همه حقوق محفوظ است.
        </p>
    </div>
</footer>