@model List<HSCrm.Models.ModelDto.RoleModel>

@{
    ViewData["Title"] = "مدیریت نقش‌ها";
    ViewData["selected"] = "role_list";
}

<div class="breadcrumb-wrapper breadcrumb-contacts">
    <div>
        <h1>لیست نقش‌ها</h1>
        <p class="breadcrumbs">
            <span>
                <a href="index.html">خانه</a>
            </span>
            <span>
                <i class="mdi mdi-chevron-left"></i>
            </span>نقش
        </p>
    </div>
    <div>
        <a asp-area="AdminArea" asp-controller="Role" asp-action="Create" class="btn btn-primary">اضافه کردن نقش</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="ec-vendor-list card card-default">
            <div class="card-body">
                <div class="table-responsive-md">
                    <div id="responsive-data-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <table id="responsive-data-table" class="table dataTable no-footer" aria-describedby="responsive-data-table_info">
                            <thead>
                                <tr>
                                    <th>عنوان نقش</th>
                                    <th>فعالیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            <div class="btn-group mb-1">
                                                <button class="btn btn-outline-success">اطلاعات</button>
                                                <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                                    <span class="sr-only">اطلاعات</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a asp-area="AdminArea" asp-controller="Role" asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">ویرایش</a>
                                                    <a asp-area="AdminArea" asp-controller="Role" asp-action="ManagePermissions" asp-route-id="@item.Id" class="dropdown-item">دسترسی‌ها</a>
                                                    <a class="dropdown-item" href="#">حذف</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>