@using HSCrm.Models.ModelDto

@{
    ViewData["Title"] = "فرم ورود";
    List<FiscalYearDropDown> lstFiscalYear = ViewBag.FiscalsYearList;
}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-10">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="ec-brand">
                    <a href="index.html" title="Ekka">
                        <img class="ec-brand-icon" src="~/assets/img/logo/logo-login.png" alt="">
                    </a>
                </div>
            </div>
            <div class="card-body p-5">
                <h4 class="text-dark mb-5">ورود</h4>
                <form method="post" action="/Account/Login">
                    <div class="row">
                        <div class="form-group col-md-12 mb-4">
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="نام کاربری">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="رمز عبور">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="FiscalYearId">انتخاب سال مالی</label>
                            <select id="FiscalYearId" name="FiscalYearId" asp-items="@(new SelectList(lstFiscalYear, "DrId", "DrName"))" style="margin-bottom:10px;" class="form-control">
                            </select>
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert" style="text-align:center; color:red;">@ViewBag.ErrorMessage</div>
                        }
                        <div class="col-md-12">
                            <div class="d-flex my-2 justify-content-between">
                                <div class="d-inline-block mr-3">
                                    <div class="control control-checkbox">
                                        مرا به خاطر بسپار<input type="checkbox">
                                        <div class="control-indicator"></div>
                                    </div>
                                </div>
                                <p><a class="text-blue" href="#">رمز ورود را فراموش کرده اید؟</a></p>
                            </div><button type="submit" class="btn btn-primary btn-block mb-4">ورود</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>